<mat-list role="list">
    <button class="btn-green example-label" routerLink="/admin" mat-stroked-button color="primary">Dashboard</button>
    <button class="btn-green example-label" routerLink="customers" mat-stroked-button color="primary">Customers</button>
    <button class="btn-green example-label" routerLink="products" mat-stroked-button color="primary">Products</button>
    <button class="btn-green example-label" routerLink="orders" mat-stroked-button color="primary">Orders</button>
    <button class="btn-green example-label" routerLink="" mat-stroked-button color="primary">Siteyi Gör</button>
</mat-list>